absl-py==0.4.0
alabaster==0.7.10
anaconda-client==1.6.3
anaconda-navigator==1.6.2
anaconda-project==0.6.0
APScheduler==3.5.1
asn1crypto==0.22.0
astor==0.7.1
astroid==1.4.9
astropy==1.3.2
attrs==17.3.0
Automat==0.6.0
Babel==2.4.0
backports.shutil-get-terminal-size==1.0.0
baidu-aip==2.2.8.0
beautifulsoup4==4.6.0
bitarray==0.8.1
blaze==0.10.1
bleach==1.5.0
bokeh==0.12.5
boto==2.46.1
boto3==1.5.20
botocore==1.8.50
Bottleneck==1.2.1
bz2file==0.98
certifi==2018.8.24
cffi==1.10.0
chardet==3.0.3
click==6.7
cloudpickle==0.5.2
clyent==1.2.2
colorama==0.3.9
colorclass==2.2.0
coloredlogs==10.0
colorhash==1.0.2
conda==4.4.4
ConfigArgParse==0.13.0
constantly==15.1.0
contextlib2==0.5.5
cryptography==1.8.1
cssselect==1.0.1
cycler==0.10.0
cymem==1.31.2
Cython==0.25.2
cytoolz==0.9.0.1
dask==0.14.3
datashape==0.5.4
decorator==4.3.0
dill==0.2.8.2
distributed==1.16.3
docopt==0.6.2
docutils==0.13.1
EasyProcess==0.2.3
elasticsearch==6.2.0
entrypoints==0.2.2
enum34==1.1.6
et-xmlfile==1.0.1
evdev==1.1.2
fakeredis==0.10.3
fastcache==1.0.2
fbmessenger==5.2.0
Flask==1.0.2
Flask-Cors==3.0.4
Flask-JWT-Simple==0.0.3
future==0.16.0
fuzzywuzzy==0.15.1
gast==0.2.0
gensim==2.3.0
gevent==1.2.2
graphviz==0.9
greenlet==0.4.12
grpcio==1.14.1
h5py==2.7.1
HeapDict==1.0.0
html5lib==0.9999999
humanfriendly==4.16.1
hyperlink==17.3.1
idna==2.5
imagesize==0.7.1
imbalanced-learn==0.3.2
imblearn==0.0
incremental==17.5.0
ipykernel==4.6.1
ipython==5.3.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
isort==4.2.5
itsdangerous==0.24
jdcal==1.3
jedi==0.10.2
jieba==0.39
Jinja2==2.10
jmespath==0.9.3
jsonpickle==0.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.1
jupyter-console==5.1.0
jupyter-core==4.3.0
Keras==2.1.6
Keras-Applications==1.0.4
klein==17.10.0
lazy-object-proxy==1.2.2
lightgbm==2.0.12
llvmlite==0.18.0
locket==0.2.0
lxml==3.7.3
Markdown==2.6.9
MarkupSafe==0.23
matplotlib==2.1.0
mattermostwrapper==2.1
mistune==0.7.4
mitie==0.5.0
mongoengine==0.13.0
mpmath==0.19
msgpack==0.5.6
msgpack-numpy==0.4.3.1
msgpack-python==0.5.4
multipledispatch==0.4.9
murmurhash==0.28.0
navigator-updater==0.1.0
nbconvert==5.1.1
nbformat==4.3.0
networkx==2.1
nltk==3.2.3
nose==1.3.7
notebook==5.0.0
numba==0.33.0
numexpr==2.6.2
numpy==1.14.3
numpydoc==0.6.0
odo==0.5.0
olefile==0.44
openpyxl==2.4.7
packaging==17.1
pandas==0.20.1
pandocfilters==1.4.1
parsel==1.2.0
partd==0.3.8
pathlib==1.0.1
pathlib2==2.2.1
patsy==0.4.1
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
pika==0.11.2
Pillow==4.1.1
pipreqs==0.4.9
plac==0.9.6
ply==3.10
preshed==1.0.1
prompt-toolkit==1.0.14
protobuf==3.6.1
psutil==5.2.2
ptyprocess==0.5.1
py==1.4.33
pyasn1==0.3.7
pyasn1-modules==0.1.5
PyAudio==0.2.11
pycosat==0.6.3
pycparser==2.17
pycrypto==2.6.1
pycurl==7.43.0
PyDispatcher==2.0.5
pydot==1.2.4
pyflakes==1.5.0
Pygments==2.2.0
pygraphviz==1.5
PyInquirer==1.0.2
PyJWT==1.6.4
pykwalify==1.6.0
pylint==1.6.4
pymongo==3.5.1
pynput==1.4
pyodbc==4.0.16
pyOpenSSL==17.0.0
pyparsing==2.1.4
PySocks==1.6.8
pyte==0.7.0
pytest==3.0.7
python-crfsuite==0.9.5
python-dateutil==2.7.3
python-engineio==2.3.2
python-socketio==2.0.0
python-telegram-bot==10.1.0
python-xlib==0.23
pytz==2018.4
PyVirtualDisplay==0.2.1
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==16.0.2
QtAwesome==0.4.4
qtconsole==4.3.0
QtPy==1.2.1
queuelib==1.4.2
rasa-core==0.12.1
rasa-core-sdk==0.12.1
rasa-nlu==0.13.7
redis==2.10.6
regex==2017.4.5
requests==2.20.1
requests-toolbelt==0.8.0
rocketchat-API==0.6.22
rope-py3k==0.9.4.post1
ruamel.yaml==0.15.37
s3transfer==0.1.13
scikit-image==0.13.0
scikit-learn==0.19.1
scipy==1.1.0
Scrapy==1.4.0
seaborn==0.7.1
selenium==3.11.0
service-identity==17.0.0
simplegeneric==0.8.1
simplejson==3.13.2
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
sklearn-crfsuite==0.3.6
slackclient==1.2.1
smart-open==1.5.3
snowballstemmer==1.2.1
sortedcollections==0.5.3
sortedcontainers==1.5.7
spacy==2.0.12
Sphinx==1.5.6
spyder==3.1.4
SQLAlchemy==1.1.9
statsmodels==0.8.0
style==1.1.0
sympy==1.0
tables==3.3.0
tabulate==0.8.2
tblib==1.3.2
tensorboard==1.10.0
tensorflow==1.10.0
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
terminado==0.6
terminaltables==3.1.0
testpath==0.3
textdistance==2.0.3
thefuck==3.24
thinc==6.10.3
thulac==0.1.2
toolz==0.8.2
tornado==4.5.1
tqdm==4.23.3
traitlets==4.3.2
twilio==6.14.0
Twisted==17.9.0
typing==3.6.4
tzlocal==1.5.1
ujson==1.35
unicodecsv==0.14.1
update==0.0.1
urllib3==1.22
w3lib==1.18.0
wcwidth==0.1.7
webexteamssdk==1.0.3
websocket-client==0.51.0
Werkzeug==0.14.1
widgetsnbextension==2.0.0
wrapt==1.10.10
xlrd==1.0.0
XlsxWriter==0.9.6
xlwt==1.2.0
yarg==0.1.9
zh-core-web-sm==2.0.5
zict==0.1.2
zope.interface==4.4.3
